#anaContent {
    width: 100%;
    height: 100%;
}



/* Ana Sayfa Content Header Code Area Start in the Here */

.anaContent-container {
    width: 100%;
    height: 100%;
}

.anaContent-header {
    width: 100%;
    height: 10%;
}

.anaContent-header-container {
    width: 100%;
    height: 100%;
}

.anaContent-header-row {
    display: flex;
    width: 100%;
    height: 100%;
}

.anaContent-header-left {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.anaContent-header-left span {
    color: grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

/* Button hover code Area start in the Here */

.buttons {
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 45px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

/* Button hover code Area End of the Here */

.anaContent-header-right {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.anaContent-header-info {
    width: 70%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

}

.anaContent-header-right ul {
    width: 100%;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
}

.anaContent-header-right ul li {
    height: 100%;
    display: flex;
    list-style-type: none;

}

.anaContent-header-right ul li img {
    width: 50px;
    height: 40px;
    border-radius: 50%;
}

.anaContent-header-right ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    color: #18aaeb;
    position: relative;
    font-family: 'Times New Roman', Times, serif;

}

.info span {
    padding-right: 10px;
}

.info i {
    font-size: 1px !important;
    position: relative;
}

.dot::after {
    content: "";
    background-color: red;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
}


.info-section {
    position: absolute;
    top: 7%;
    right: 1%;
    width: 170px;
    height: 250px;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    z-index: 99999;

}


.info-section-container {
    width: 100%;
    height: 100%;

}

.info-section-container ul {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;

}

.info-section-container ul li {
    list-style-type: none;
    width: 95%;
    height: 10%;
    display: flex;
    align-items: center;

}

.info-section-container ul li a {
    text-decoration: none;
}


.info-section-container ul li:hover::before {
    content: "";
    width: 95%;
    height: 40px;
    background-color: #2e93bb;
    border-radius: 50px;
    color: white;

    position: absolute;
    left: 2%;
    opacity: 0.2;

    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);

}

/* Ana Sayfa Content Header Code Area End of the Here */

/* -------------------------------------------------------------------------------- */

/* Ana Sayfa Content Section Code Area Start in the Here */
.anaContent-section {
    width: 100%;
    height: 20%;
}

.anaContent-section-container {
    width: 100%;
    height: 100%;
}

.anaContent-section-row {
    width: 100%;
    height: 50%;
    display: flex;
    position: relative;
    top: 25%;

}

.col-leftAna-icon {
    width: 60px;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
    border-radius: 20%;
    left: -2%;
}

.col-leftAna {
    width: 20%;
    height: 100%;
    z-index: 9999999;
    display: flex;
    align-items: center;
    position: relative;
    top: -20px;
    right: 5%;
}

.col-right {
    width: 80%;
    height: 100%;
}

.col-right-container {
    width: 40%;
    height: 100%;
    position: absolute;
    right: 0;
}

.col-right-row {
    width: 100%;
    height: 100%;
}

.col-right-row ul {
    display: flex;
    width: 90%;
    height: 100%;
}

.col-right-row ul li {
    width: 33%;
    height: 50%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    transition: .3s ease-in-out;
}

.col-right-row ul li:hover {
    border-bottom: 3px solid #18aaeb;
    transition: .3s ease-in-out;
}

.col-right-row-active {
    border-bottom: 3px solid #18aaeb;
    transition: .3s ease-in-out;
}

.col-right-row ul li a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: grey;
    font-size: 20px;
    text-align: center;
}

.scroll-area {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}


.anaContent-news {
    width: 95%;
    height: 20%;
  position: relative;
  left: 2%;
}

.news-img {
    width: 100%;
    height: 100%;
}

.news-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

.anaContent-main {
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

.anaContent-main-container {
    width: 100%;
    height: 100%;
}

.anaContent-main-row {
    width: 100%;
    height: 100%;
    display: flex;

}

.anaContent-main-left {
    width: 65%;
    height: 100%;
}

.main-left-container {
    width: 100%;
    height: 100%;
}

.main-left-row {
    width: 100%;
    height: 100%;
    display: flex;
}

.hap {
    width: 50%;
    height: 35%;
}

.hap-header {
    width: 100%;
    height: 10%;

}

.hap-header span {
    font-size: 22px;
    color: grey;
    display: flex;
    justify-content: center;

}

.hap-content {
    width: 90%;
    height: 70%;
    border-radius: 10%;
    position: relative;
    top: 15%;
    left: 5%;
    background-color: #ffffff;
    box-shadow: 1px 2px 5px 5px #18aceb58;
    transition: .3s ease-in-out;
}

.hap-content h3 {
    color: #18aaeb;
    position: relative;
    top: 20%;
    left: 5%;
}

.hap-content button.btn-hap {
    position: relative;
    top: 30%;
    left: 50%;
    border: none;
    width: 40%;

}

.hap-content:hover {
    transform: translate(-1px, -5px);
    transition: .3s ease-in-out;
    cursor: pointer;

}



.duyurular {
    width: 50%;
    height: 35%;
}

.duyurular-header {
    width: 100%;
    height: 10%;
}

.duyurular-header span {
    font-size: 22px;
    color: grey;
    display: flex;
    justify-content: center;
}

.duyurular-content {
    width: 90%;
    height: 70%;
    border-radius: 10%;
    position: relative;
    top: 15%;
    left: 5%;
    background-color: #ffffff;
    box-shadow: 1px 2px 5px 5px #18aceb58;
    transition: .3s ease-in-out;
    text-align: center;

}

.duyurular-content:hover {
    transform: translate(-1px, -5px);
    transition: .3s ease-in-out;
    cursor: pointer;

}

.duyurular-content span {
  
    position: absolute;
    top: 15%;
    left: 10%;
    width: 80%;
    height: 30%;

    font-size: 18px;
   
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.duyurular-content button.btn-duyurular{
    width: 40%;
    position: absolute;
    top: 65%;
    left: 30%;
}





.anaContent-main-right {
    width: 35%;
    height: 100%;
}

.main-right-container {
    width: 100%;
    height: 100%;
}

.main-right-row {
    width: 100%;
    height: 100%;
}

.daily-news {
    width: 100%;
    height: 100%;
}

.daily-news-header {
    width: 100%;
    height: 5%;
}

.daily-news-header span {
    font-size: 22px;
    color: grey;
    display: flex;
    justify-content: center;
}

.daily-news-content {
    width: 100%;
    height: 80%;
    display: flex;

    justify-content: center;
}

.daily-news-content img {
    width: 90%;
    height: 80%;
    position: relative;
    top: 5%;
    transition: .3s ease-in-out;

}
.daily-news-content img:hover {
    transform: translate(-1px, -5px);
    transition: .3s ease-in-out;
    cursor: pointer;
}





/* Ana Sayfa Content Section Code Area End of the Here */

/* ------------------------------------------------------------------------------- */